<div class="information-container">
    <div class="content">
      <h2>{{ 'INFORMATION.TITLE' | translate }}</h2>
      
      <section>
        <h3>{{ 'INFORMATION.ABSTRACT.TITLE' | translate }}</h3>
        <p>{{ 'INFORMATION.ABSTRACT.CONTENT' | translate }}</p>
      </section>
  
      <section>
        <h3>{{ 'INFORMATION.DESCRIPTION.TITLE' | translate }}</h3>
        <p>
          {{ 'INFORMATION.DESCRIPTION.CONTENT' | translate }}
          <a href="https://data.rte-france.com/catalog/-/api/generation/Unavailability-Additional-Information/v4.1" target="_blank">
            RTE Data API
          </a>
        </p>
        <p>{{ 'INFORMATION.DESCRIPTION.MAP_INFO' | translate }}</p>
        <p>
          {{ 'INFORMATION.DESCRIPTION.DISCLAIMER' | translate }}
          <a href="https://doaat.edf.fr/indisponibilites/list" target="_blank">EDF REMIT</a>
        </p>
      </section>
  
      <section>
        <h3>{{ 'INFORMATION.ADDITIONAL.TITLE' | translate }}</h3>
        <ul>
          <li>{{ 'INFORMATION.ADDITIONAL.GPS_INFO' | translate }}</li>
          <li>{{ 'INFORMATION.ADDITIONAL.TIMEZONE' | translate }}</li>
        </ul>
      </section>
  
      <section>
        <h3>{{ 'INFORMATION.LIABILITY.TITLE' | translate }}</h3>
        <p>{{ 'INFORMATION.LIABILITY.CONTENT' | translate }}</p>
        <p>{{ 'INFORMATION.LIABILITY.DISCLAIMER' | translate }}</p>
      </section>
    </div>
  </div>