.description {
    // Ajoute un peu d'espacement autour de la description
    padding: 20px;
    background-color: #f9f9f9; // Fond gris clair
    border: 1px solid #e0e0e0; // Bordure gris léger
    border-radius: 8px; // Coins arrondis
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Ombre légère pour effet de profondeur
    margin: 20px 0; // Marge en haut et en bas
  
    // Centre le contenu du conteneur
    text-align: center; 
  
    h1 {
      font-size: 1.8rem; // Taille de police pour le titre
      color: #333; // Couleur du texte
      margin-bottom: 10px; // Espacement sous le titre
    }
  
    p {
      font-size: 1rem; // Taille de police pour la description
      color: #666; // Couleur du texte plus claire
      line-height: 1.5; // Hauteur de ligne pour aérer le texte
      margin: 0; // Suppression de la marge par défaut
    }
  }
  
  