<div class="description">
  <h1>{{ course.description }}</h1> 
  <p>{{ course.longDescription }}</p>
</div>

<button 
  class="btn" 
  [class.btn-outline-primary]="currentCourseId > 1" 
  [class.btn-outline-secondary]="currentCourseId === 1" 
  (click)="getPrecedent()" 
  [disabled]="currentCourseId === 1">
  Precedent
</button>

<button 
  class="btn" 
  [class.btn-outline-primary]="currentCourseId < courses.length " 
  [class.btn-outline-secondary]="currentCourseId >= courses.length " 
  (click)="getNext()" 
  [disabled]="currentCourseId >= courses.length">
  Next
</button>
