.map-container {
  position: relative;  /* Assure un positionnement relatif */
  width: 50%;          /* Largeur ajustable pour centrer avec un espace latéral */
  margin: 30px auto;   /* Centrer horizontalement avec un espace en haut/bas */
}

#map {
  height: 50vh;        /* Hauteur égale à 50% de la hauteur de l'écran */
  width: 100%;         /* Occupe toute la largeur du conteneur */
  border: none;        /* Supprime les bordures */
  outline: none;       /* Supprime les contours */
}
