<div class="course-card" [ngClass]="course.category === 1 ? 'beginner':'advanced'">
  <!-- [ngClass]="{'beginner': course.category === categoryType.beginners,'advanced': course.category !== 1}" -->
    <div class="card-header" [ngStyle]="{'color' : course.category === 1 ? 'white' : 'yellow'}">
      <h2>{{index}}: {{course.description}} {{title}}</h2>
    </div>
    @if(course.imageUrl){
      <div class="card-image">
      <img src="{{course.imageUrl}}" alt="Course Image">
    </div>
  }@else {
    <h4>No Image available</h4>
  }
    <div class="card-body">
      <p>{{course.description}}</p>
    </div>
    <div class="p-2">
    @switch (course.category) {
      @case (categoryType.beginners) {
        <span class="badge bg-warning" >Beginner</span> 
      }@case (categoryType.intermediate) {
        <span class="badge bg-info" >Intermediate</span> 
      }@case (categoryType.advanced) {
        <span class="badge bg-success" >advanced</span> 
      }@default {
        <span class="badge bg-danger" >other</span> 
      }
    }
      <br><button class="btn btn-primary" (click)="viewcourse()">View course</button>
    </div>
</div>
  