.course-card {
  display: inline-block;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
  width: 300px; /* Définit une largeur fixe pour la carte, ajuste selon tes besoins */
  overflow: hidden;
  padding: 0;
  background-color: black;
  border-radius: 8px; /* Ajoute des coins arrondis à la carte */
  align-items: center;
  
}
.beginner{
  background-color: #82a3c7;
}
.advanced{
  background-color: aquamarine;
}
.card-header {
  padding: 16px; /* Couleur de fond claire pour l'en-tête */
  text-align: center;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem; /* Taille du texte du titre */
}

.card-image img {
  width: 100%; /* Assure que l'image prend toute la largeur du conteneur */
  height: auto; /* Maintient les proportions de l'image */
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-body p {
  margin: 0; /* Supprime les marges par défaut du paragraphe */
  line-height: 1.5; /* Améliore la lisibilité du texte */
}
.p-2{
  text-align: center;
  }
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
