header {
  .header-top {
    display: flex;
    justify-content: center;
    /* Centre la barre de recherche */
    align-items: center;
    padding: 10px 20px;
    background-color: #1348d0;
    color: white;
    position: relative;

    .logo {
      position: absolute;
      left: 20px;
      top: 50%;
      /* Centrage vertical */
      transform: translateY(-50%);
      /* Ajustement pour centrer verticalement */
      height: 40px;
      cursor: pointer
    }

    .search-form {
      input {
        padding: 8px;
        border: none;
        border-radius: 20px;
        /* Coins plus arrondis */
        width: 300px;
        color: #293e58;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #d6edf9;
  flex-shrink: 0;

  .filter-header {
    font-size: 1.5rem;
    background-color: #001a70;
    color: #fff;
    border-radius: 3px;
    padding: 0.33rem 0.67rem;
    position: relative;

    .clear-filters {
      background: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .filters {
    .filter-title {
      font-weight: bold;
      margin-top: 10px;
      color: #08c;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 5px;
        background-color: #f9f9f9;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }
}