<header>
    <div class="header-top">
        <a href="https://www.edf.fr" target="_blank">
            <img src="logoEDF.png" alt="EDF Logo" class="logo">
        </a>
        <form class="search-form">
            <input type="search" id="search" placeholder="Rechercher les données du groupe EDF">
        </form>
    </div>
</header>
<div class="content-wrapper">
    <aside class="sidebar">
        <div class="filter-header">
            <p>56 enregistrements</p>
        </div>
        <div class="filters">
            <p class="filter-title">Date et Heure (fuseau horaire Europe/Paris)</p>
            <ul>
                <li>2024</li>
                <li>Octobre</li>
                <li>15</li>
            </ul>
            <p class="filter-title">Heure (fuseau horaire Europe/Paris)</p>
            <ul>
                <li>10</li>
            </ul>
            <p class="filter-title">Centrale</p>
            <ul>
                <li>GRAVELINES</li>
                <li>BLAYAIS (LE)</li>
                <li>BUGEY (LE)</li>
                <li>CATTENOM</li>
                <li>CHINON B</li>
                <li>CRUAS</li>
            </ul>
        </div>
    </aside>
    <main>
        <h1>Disponibilité du parc nucléaire d'EDF SA (Présent, passé et prévisionnel)</h1>
        <nav class="top-navigation">
            <a routerLink='informations' routerLinkActive="activ">Informations</a>
            <a routerLink='tableau' routerLinkActive="activ">Tableau</a>
            <a routerLink='carte' routerLinkActive="activ">Carte de la disponibilité du Parc Nucléaire d'EDF SA</a>
            <a routerLink='export' routerLinkActive="activ">Export</a>
            <a routerLink='API' routerLinkActive="activ">API</a>
        </nav>
        <section class="content">
            <div class="info-message">
                <h2>Informations sur le fonctionnement de cette carte :</h2>
                <p>Cette carte affiche la disponibilité du Parc Nucléaire à une "Date/Heure" précise. Par défaut, elle
                    propose une vision à la "date du jour/Heure actuelle" (fuseau horaire Europe/Paris).

                    Pour visualiser la disponibilité du Parc Nucléaire passé ou prévisionnelle, sélectionner un couple
                    "Date/Heure" dans les filtres à votre disposition sur la gauche.

                    Les tranches dont la puissance disponible est égale à 0 MW sont affichées en orange. Sinon elles
                    sont affichées en vert.

                    Informations complémentaires sur certaines données :
                    Le positionnement géographique des tranches nucléaires est ici adapté pour offrir une meilleure
                    lisibilité de la carte de France. Les points GPS précis et uniques des centrales sont ici.</p>
            </div>


        </section>
        <app-my-map></app-my-map>
    </main>
</div>