<div class="nav-container desktop-nav">
  <div class="nav-container">
    <nav class="main-nav">
      <div class="primary-nav">
        <div class="logo-container">
          <a href="https://www.edf.fr" target="_blank">
            <img src="logoEDF.png" alt="EDF Logo" class="logo">
          </a>
        </div>
  
        <div class="center-nav">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
            </svg>
            <span>{{ 'NAV.HOME' | translate }}</span>
          </a>
  <!-- Dans app.component.html, ajouter après les autres liens de navigation -->
          <a routerLink="/information" routerLinkActive="active" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <span>Information</span>
          </a>
          <a routerLink="/carte" routerLinkActive="active" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
            </svg>
            <span>{{ 'NAV.MAP' | translate }}</span>
          </a>
  
          <a routerLink="/histogram" routerLinkActive="active" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"/>
            </svg>
            <span>{{ 'NAV.DATA' | translate }}</span>
          </a>
        </div>
  
        <div class="nav-group">
          <div class="language-selector">
            <button class="lang-btn" [class.active]="currentLang === 'fr'" (click)="switchLanguage('fr')">FR</button>
            <button class="lang-btn" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="nav-container mobile-nav">
  <div class="nav-container">
    <nav class="main-nav">
      <div class="primary-nav">
        <!-- Logo conteneur -->
        <div class="logo-container">
          <a href="https://www.edf.fr" target="_blank">
            <img src="logoEDF.png" alt="EDF Logo" class="logo">
          </a>
        </div>
   
        <!-- Wrapper pour la navigation et le sélecteur de langue -->
        <div class="nav-bottom-wrapper">
          <div class="center-nav">
            <a routerLink="/home" routerLinkActive="active" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
              </svg>
              <span>{{ 'NAV.HOME' | translate }}</span>
            </a>
   
            <a routerLink="/information" routerLinkActive="active" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
              <span>Information</span>
            </a>
   
            <a routerLink="/carte" routerLinkActive="active" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
              </svg>
              <span>{{ 'NAV.MAP' | translate }}</span>
            </a>
   
            <a routerLink="/histogram" routerLinkActive="active" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"/>
              </svg>
              <span>{{ 'NAV.DATA' | translate }}</span>
            </a>
          </div>
   
          <div class="nav-group">
            <div class="language-selector">
              <button class="lang-btn" [class.active]="currentLang === 'fr'" (click)="switchLanguage('fr')">FR</button>
              <button class="lang-btn" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
   </div>
</div>
 <router-outlet></router-outlet>