<div class="cards">
    @for (course of courses |slice: 0:3; track course.id; let ind=$index; let count=$count;
    let last=$last; let first=$first; let even=$even; let odd=$odd) {
    <div style="display: inline-block">
      <app-course-card
        [course]="course"
        [title]="title"
        (viewCourseEvent)="onCourseClicked($event)"
        [class.first-course]="first"
        [class.last-course]="last"
        [index]="ind"
        [class.even-course]="even"
        [class.odd-course]="odd"
      />
    </div>
    }@empty{
    <h3>No courses found!</h3>
    }
  </div>
<!--   <div *ngFor="let dataset of datasets">
    <p>{{ dataset.dataset_id }}</p>
  </div>
  
  @for(dataset of datasets; track dataset.dataset_id) {
    <div>
    <p>{{ dataset.dataset_id}}</p>
  </div>
} -->
@for(dispo of dataset; track $index) {
  <div>
  <p>{{ dispo.tranche }} {{ dispo.puissance_disponible }} {{ dispo.point_gps_modifie_pour_afficher_la_carte_opendata | json  }}</p>
</div>
}


