/* my-map.component.scss */
.map-container {
    position: relative; /* S'assurer que le conteneur est positionné relativement */
}

#map {
    width: 100%; /* S'assurer que la carte prend toute la largeur */
    height: 100%; /* S'assurer que la carte prend toute la hauteur de son conteneur */
}

.leaflet-control-fullscreen-button {
    background: #fff url(../../../public/fullscreen.png) no-repeat center center;
    background-size: 26px 26px; /* Ajuste la taille de l'icône */
    width: 30px; /* Largeur du bouton */
    height: 30px; /* Hauteur du bouton */
    position: absolute; /* Positionnement absolu */
    top: 10px; /* Positionner à 10 pixels du haut */
    right: 10px; /* Positionner à 10 pixels de la droite */
    z-index: 1000; /* Assurez-vous que le bouton est au-dessus de la carte */
    cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}


.leaflet-control-fullscreen-button:hover {
    opacity: 0.8; /* Effet d'opacité au survol */
}


#fullscreen-button {
    position: absolute;
    top: 10px; /* Positionne le bouton en haut */
    right: 10px; /* Positionne le bouton à droite */
    z-index: 1000; /* S'assure que le bouton soit au-dessus de la carte */
}
