@if (errorMessage){<div class="error-banner">
    Introuvable 404 {{ errorMessage}} 
  </div>}

<main>
 
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/logoEDF.png" alt="Logo 1" class="logo" />
      <img src="assets/images/Logo-CS.png" alt="Logo 2" class="logo" />
    </div>
    <div class="title-container">
      <h1 class="page-title">
        Projet Semestriel en Collaboration avec EDF, année académique 24/25
      </h1>
    </div>
  </div>
  
  

  <div class="preview-box">
    <span class="preview-text">CARTE</span>
    <a href="/carte" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/preview-carte.jpg" alt="Website Preview" />
    </a>
  </div>
  
  
  
</main>
  