@if (errorMessage){<div class="error-banner">
    Introuvable 404 {{ errorMessage}} 
  </div>}

<main>
 
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/logoEDF.png" alt="Logo 1" class="logo" />
      <img src="assets/images/Logo-CS.png" alt="Logo 2" class="logo" />
    </div>
    <div class="title-container">
      <h1 class="page-title">
        Projet Semestriel en Collaboration avec EDF, année académique 24/25
      </h1>
    </div>
  </div>
  
  <div class="editorial-box">
    <div class="article">
      <div class="article-header">
        <img src="assets/images/Sfen.png" alt="Logo Média" class="media-logo" />
        <span class="article-date">03/10/2024</span>
      </div>
      <h3 class="article-title">
        <a href="https://www.sfen.org/rgn/lautorite-de-surete-nucleaire-et-de-radioprotection-asnr-est-officiellement-en-activite/" target="_blank" rel="noopener noreferrer">
          Sfen - Sûreté nucléaire : l’ASNR, fusion de l’ASN et de l’IRSN, entre en action <!-- Titre de l'article recherché, le lien est au dessus, il fait partie de la balise-->
        </a>
      </h3>
    </div>

    <div class="article">
      <div class="article-header">
        <img src="assets/images/LesEchos.png" alt="Logo Média" class="media-logo" />
        <span class="article-date">31/12/2024</span>
      </div>
      <h3 class="article-title">
        <a href="https://www.lesechos.fr/industrie-services/energie-environnement/nucleaire-ledf-allemand-contre-la-relance-de-latome-2140036" target="_blank" rel="noopener noreferrer">Les Echos - Nucléaire : l'EDF allemand contre la relance de l'atome</a>
      </h3>
    </div>

    <div class="article">
      <div class="article-header">
        <img src="assets/images/FranceInfo.png" alt="Logo Média" class="media-logo" />
        <span class="article-date">03/10/2024</span>
      </div>
      <h3 class="article-title">
        <a href="https://www.francetvinfo.fr/monde/environnement/crise-climatique/des-centrales-nucleaires-en-france-sont-menacees-par-la-submersion-marine-alerte-greenpeace_6812339.html" target="_blank" rel="noopener noreferrer">Franceinfo - Des centrales nucléaires en France sont menacées par la submersion marine, alerte Greenpeace</a>
      </h3>
    </div>
    
  </div>
  

  <div 
  class="carte-box"
  (click)="gotocarte()"
  style = "background-image:url('assets/images/preview-carte.jpg');">
  <h3 class="box-title">
    CARTE
  </h3>
</div>
  
  <div 
  class="eco2mix-box" 
  (click)="goToEco2Mix()" 
  style="background-image: url('assets/images/RTELogo.jpg');">
  <h3 class="box-title">
    éCO₂mix par Rte
  </h3>
</div>

<div 
  class="graph-box"
  (click)="gotograph()"
  style = "background-image:url('assets/images/graph4.png');">
  <h3 class="box-title">
    HISTOGRAMMES D'ACTIVITÉ DES TRANCHES
  </h3>
</div>
 
  
<footer class="credits-banner">
  <p>Note : Les images utilisées sont la propriété de leurs auteurs respectifs.<br> Crédits : EDF, Rte, Freepik, OpenStreetMap, CentraleSupélec</p>
</footer>

  
  
</main>
  